<div class="contact-outer outer">
  <div class="contact-inner inner">
    <h2 style=" font-size:2em ">Get in touch</h2>
    <br>
    <div class="row">
      <div class="col-sm-5">
        <p>I am currently living in Waterloo, ON, Canada.
          <br>
          <br> If you want to set up a meeting for any projects or cool ideas. Drop me a line and I will get in touch as soon as I can. </p>
      </div>
      <div class="col-sm-7 form-container">
        <div class="contact-form-container">
          <form class="contact-form" action="https://submit.jotform.ca/submit/60398379813266/" method="post" name="form_60398379813266" id="60398379813266" accept-charset="utf-8" novalidate>
            <input type="hidden" name="formID" value="60398379813266" />
            <div class="form-all">
              <ul class="form-section page-section">
                <li class="form-line" data-type="control_textbox" id="id_1">
                  <div id="cid_1" class="form-input jf-required">
                    <input type="text" class=" form-textbox" data-type="input-textbox" ng-model='contact.visitor.name' value="" id="input_1" name="q1_name" placeholder="Your Name" required/>
                  </div>
                </li>
                <li class="form-line " data-type="control_email " id="id_3 ">
                  <div id="cid_3 " class="form-input jf-required ">
                    <input type="email " class=" form-textbox validate[Email] " ng-model='contact.visitor.email' value="" size="35" id="input_3 " name="q3_email " placeholder="your@email.com" required/>
                  </div>
                </li>
                <li class="form-line " data-type="control_textarea " id="id_4 ">
                  <div id="cid_4 " class="form-input jf-required ">
                    <textarea id="input_4 " class="form-textarea " name="q4_message " ng-model='contact.visitor.message' rows="6" placeholder="Dear Millin..." required></textarea>
                  </div>
                </li>
                <li class="form-line " data-type="control_button " id="id_2 ">
                  <div id="cid_2 " class="form-input-wide ">
                    <div class="form-buttons-wrapper ">
                      <p ng-hide="form_60398379813266.$valid "><em><type strings=contact.texttyping></type></em></p>
                      <button ng-show="form_60398379813266.$valid " id="input_2 " type="submit " class="form-submit-button ">
                        <img src="img/icons/send.png" alt="" style="width:4em">
                      </button>
                    </div>
                  </div>
                </li>
                <li style="display:none ">
                  Should be Empty:
                  <input type="text " name="website " value=" " />
                </li>
              </ul>
            </div>
            <input type="hidden" id="simple_spc " name="simple_spc " value="60398379813266 " />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>