<div class="contact-outer outer">
  <div class="contact-inner inner">
    <h2 style=" font-size:2em ">Get in touch</h2>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-sm-5">
        <p>I am living in waterloo for my winter 2016 co-op.
          <br>
          <br> If you want to set up a meeting for any projects or cool ideas. Drop me a line and I will get in touch as soon as I can. </p>
      </div>
      <div class="col-sm-7 form-container">
        <div class="contact-form-container">
          <form class="contact-form" action="https://submit.jotform.ca/submit/60398379813266/" method="post" name="form_60398379813266" id="60398379813266" accept-charset="utf-8" novalidate>
            <input type="hidden" name="formID" value="60398379813266" />
            <div class="form-all">
              <ul class="form-section page-section">
                <li class="form-line" data-type="control_textbox" id="id_1">
                  <div id="cid_1" class="form-input jf-required">
                    <input type="text" class=" form-textbox" data-type="input-textbox" ng-model='contact.visitor.name' id="input_1" name="q1_name" placeholder="Your Name" value=" " size="35" required/>
                  </div>
                </li>
                <li class="form-line " data-type="control_email " id="id_3 ">
                  <div id="cid_3 " class="form-input jf-required ">
                    <input type="email " class=" form-textbox validate[Email] " ng-model='contact.visitor.email' size="35" id="input_3 " name="q3_email " placeholder="your@email.com" value=" " required/>
                  </div>
                </li>
                <li class="form-line " data-type="control_textarea " id="id_4 ">
                  <div id="cid_4 " class="form-input jf-required ">
                    <textarea id="input_4 " class="form-textarea " name="q4_message " ng-model='contact.visitor.message' rows="6" placeholder="Dear Millin..." required></textarea>
                  </div>
                </li>
                <li class="form-line " data-type="control_button " id="id_2 ">
                  <div id="cid_2 " class="form-input-wide ">
                    <div class="form-buttons-wrapper ">
                      <p ng-hide="form_60398379813266.$valid "><em><type strings=contact.texttyping></type></em></p>
                      <button ng-show="form_60398379813266.$valid " id="input_2 " type="submit " class="form-submit-button ">
                        <img src="img/icons/send.png" alt="" style="width:4em">
                      </button>
                    </div>
                  </div>
                </li>
                <li style="display:none ">
                  Should be Empty:
                  <input type="text " name="website " value=" " />
                </li>
              </ul>
            </div>
            <input type="hidden" id="simple_spc " name="simple_spc " value="60398379813266 " />
            <script type="text/javascript ">
              document.getElementById("si " + "mple " + "_spc ").value = "60398379813266-60398379813266 ";
            </script>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>




<!--
 <form class="contact-form " action="https://submit.jotform.ca/submit/60396964790268/ " ng-submit="form_60396964790268.$valid && contact.send() " method="post " name="form_60396964790268 " id="60396964790268 " accept-charset="utf-8 " novalidate>
  <input type="hidden " name="formID " value="60396964790268 " />
  <div class="form-all ">
    <ul class="form-section page-section ">
      <li class="form-line " data-type="control_textbox " id="id_4 ">
        <div id="cid_4 " class="form-input ">
          <input type="text " class=" form-textbox validate[required] " ng-model='contact.visitor.name' data-type="input-textbox " id="input_4 " name="q4_input4 " size="20 " value=" " required />
        </div>
      </li>
      <li class="form-line " data-type="control_email " id="id_3 ">
        <div id="cid_3 " class="form-input ">
          <input type="email " class=" form-textbox validate[required, Email] " ng-model='contact.visitor.email' id="input_3 " name="q3_email3 " size="30 " value=" " required />
        </div>
      </li>
      <li class="form-line " data-type="control_textarea " id="id_5 ">
        <div id="cid_5 " class="form-input ">
          <textarea id="input_5 " class="form-textarea validate[required] " ng-model='contact.visitor.message' name="q5_input5 " cols="40 " rows="6 " required></textarea>
        </div>
      </li>
      <li class="form-line " data-type="control_button " id="id_2 ">
        <div id="cid_2 " class="form-input-wide ">
          <div style="margin-left:156px " class="form-buttons-wrapper ">
            <button id="input_2 " type="submit " class="form-submit-button ">
              Submit
            </button>
          </div>
        </div>
      </li>

      This form is {{form_60396964790268.$valid}}
            <br> {{contact.success}}
      <br> {{contact.visitor}}
      <br> Here: {{contact.here}}
      <br>
      <br> Error: {{contact.error}}

      <li style="display:none ">
        Should be Empty:
        <input type="text " name="website " value=" " />
      </li>
    </ul>
  </div>
  <input type="hidden " id="simple_spc " name="simple_spc " value="60396964790268 " />
  <script type="text/javascript ">
    document.getElementById("si " + "mple " + "_spc ").value = "60396964790268-60396964790268 ";
  </script>
</form>
-->
<!--container-->

<!--
<form name="contactForm " method="post " ng-submit="contactForm.$valid && contact.sendMessage() " action="https://submit.jotform.ca/submit/60396964790268/ " novalidate>
  <div class="form-group ">
    <input type="text " id="name " ng-model='contact.visitor.name' class="form-control " placeholder="Name " required>
  </div>

  <div class="form-group ">
    <input type="email " id="email " ng-model='contact.visitor.email' class="form-control " placeholder="Email " required>
  </div>

  <div class="form-group ">
    <textarea id="message " ng-model='contact.visitor.message' class="form-control " rows="6 " placeholder="Dear Millin... " required></textarea>
  </div>
  This form is {{contactForm.$valid}}
  <br> {{contact.visitor}}
  <button type="submit " name="submit " class="btn btn-default ">Submit</button>
  <p ng-show="contact.success ">Thanks for getting in touch!</p>
  <p ng-show="contact.error ">Something wrong happened!, please try again.</p>
</form>
-->
<!--
<?php
        if (isset($_POST["submit "])) {
            $name = $_POST['name'];
            $email = $_POST['email'];
            $message = $_POST['message'];
            $human = intval($_POST['human']);
            $from = 'asfsa'; 
            $to = 'gabanimillin@gmail.com'; 
            $subject = 'Message from Millin Gab site ';

            $body = "From: $name\n E-Mail: $email\n Message:\n $message ";

            // Check if name has been entered
            if (!$_POST['name']) {
                $errName = 'Please enter your name';
            }

            // Check if email has been entered and is valid
            if (!$_POST['email'] || !filter_var($_POST['email'], FILTER_VALIDATE_EMAIL)) {
                $errEmail = 'Please enter a valid email address';
            }

            //Check if message has been entered
            if (!$_POST['message']) {
                $errMessage = 'Please enter your message';
            }
            //Check if simple anti-bot test is correct
            if ($human !== 5) {
                $errHuman = 'Your anti-spam is incorrect';
            }

            // If there are no errors, send the email
            if (!$errName && !$errEmail && !$errMessage && !$errHuman) {
            if (mail ($to, $subject, $body, $from)) {
                $result='<div class="alert alert-success ">Thank You! I will be in touch</div>';
            } else {
                $result='<div class="alert alert-danger ">Sorry there was an error sending your message. Please try again later</div>';
            }
          }
        }
      ?>

  <form class="form-horizontal " role="form " method="post " action=" ">
    <div class="form-group ">
      <label for="name " class="col-sm-2 control-label ">Name</label>
      <div class="col-sm-10 ">
        <input type="text " class="form-control " id="name " name="name " placeholder="First & Last Name " value="<?php echo htmlspecialchars($_POST[ 'name']); ?>">
        <?php echo "<p class='text-danger'>$errName</p>";?>
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="<?php echo htmlspecialchars($_POST['email']); ?>">
        <?php echo "<p class='text-danger'>$errEmail</p>";?>
      </div>
    </div>
    <div class="form-group">
      <label for="message" class="col-sm-2 control-label">Message</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="4" name="message">
          <?php echo htmlspecialchars($_POST['message']);?>
        </textarea>
        <?php echo "<p class='text-danger'>$errMessage</p>";?>
      </div>
    </div>
    <div class="form-group">
      <label for="human" class="col-sm-2 control-label">2 + 3 = ?</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="human" name="human" placeholder="Your Answer">
        <?php echo "<p class='text-danger'>$errHuman</p>";?>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <?php echo $result; ?>
      </div>
    </div>
    </form>-->