<div class="outer work-outer">
  <div class=" work-inner inner" ng-repeat="project in work.projects" style="">
    <h2 style=" font-size:2em ">{{project.title}}</h2>
    <br>
    <div class="row ">
      <div class="col-md-7 work-info ">
        <p ng-bind-html="project.content "></p>
      </div>
      <div class="work-images col-md-5">
        <div class="work-preview-image">
          <img ng-hide="project.images[project.current].isVideo" ng-src=" {{project.images[project.current].source}} " style="width:100% ">
          <iframe ng-show="project.images[project.current].isVideo" ng-src="{{project.images[project.current].vsource}}"></iframe>
        </div>
        <div ng-hide="work.isNotGallery(project.images.length)" class="work-image-gallery" ng-repeat="image in project.images ">
          <div class="col-xs-4 work-image-container" style="padding:0px ; width:21% ">
            <div class="work-image-content">
              <a href ng-click="work.setImage(project ,image.id)"><img class="work-img-tag" ng-src="{{image.tSource}} " /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>